In [6]:
import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt

In [3]:
genel = pd.read_csv("tum_yillarin_ortalama_verileri.csv")
genel

     birim               urun_ad  genel_ortalama_fiyat
0       Kg      ZENCEFİL (Taze )             63.819885
1       Kg           MUZ (İthal)             53.323294
2       Kg                ANANAS             20.207469
3       Kg      ARMUT (Muhtelif)             15.526820
4       Kg              KESTANE              12.341108
..     ...                   ...                   ...
115   Adet      MISIR (Taze)Adet              0.838964
116  Demet             NANE(Bağ)              0.814991
117  Demet        DERE OTU (Bağ)              0.793562
118  Demet  MAYDONOZ (Yerli) Bağ              0.652711
119  Demet        MAYDONOZ (Bağ)              0.622683

[120 rows x 3 columns]

In [18]:
deneme = pd.read_csv('deneme.csv')
deneme

     birim               urun_ad  genel_ortalama_fiyat  toplam_birim_miktarı
0       Kg         KİVİ (İthal )            108.333333                  1606
1       Kg      ZENCEFİL (Taze )             63.819885                   504
2       Kg       İNCİR ( Siyah )             54.233333                  1685
3       Kg           MUZ (İthal)             53.323294                  1639
4       Kg     KİRAZ (Napolyon )             32.142857                  1247
..     ...                   ...                   ...                   ...
154  Demet             NANE(Bağ)              0.814991                    15
155  Demet        DERE OTU (Bağ)              0.793562                   718
156  Demet  MAYDONOZ (Yerli) Bağ              0.652711                   579
157  Demet        MAYDONOZ (Bağ)              0.622683                     2
158     Kg         PORTAKAL (II)              0.621667                   536

[159 rows x 4 columns]